body {
    font-family: 'open sans', sans-serif;
    text-align: center;
    margin: 0px;
}

.conteudo {
    width: 626px;
    margin: 0 auto 72px;
}

h1 {
    font-family: 'Dosis', sans-serif;
    font-weight: normal;
}

h1 span {
    font-weight: bold;
    color: #EE24FF;
}

p {
    color: #828282;
    margin-bottom: 16px;
}

p strong {
    color: #3F3D56;
}

p span {
    font-weight: bold;
    color: #828282;
}


.footer {
    width: auto;
    margin: auto;
}


#line { 
    margin: 0 auto 8px;
    width: 626px;
    height: 0px;
    border: 1px #eceff2 solid;
    margin-top: 64px;
    margin-bottom: 16px;
}


a {
    font-weight: bold;
    color: #3F3D56;
    margin-left: 26px;
}

.wave {
    width: 1024px;
    margin-top: 64px;
    width: 100%;
    position: relative;
}

